# INSERIRE LE QUOTE :
# quota_1 = segno 1 quota primo sito
# quota_2 = segno 2 quota primo sito

# quota_3 = segno 1 quota secondo sito
# quota_4 = segno 2 quota secondo sito

# puntata_1 = puntata su segno 1 primo sito

# portafoglio = soldi disponibili totali( puntata_1+puntata successiva )

In [41]:
import pandas as pd
import numpy as np


quota_1 = 1.50
quota_2 = 7

quota_3 = 1.65
quota_4 = 6.50


puntata_1 = 20

puntata_4 = range( 1,1000 )

portafoglio = 100


q1 = []
q4 = []
v1 = []
v2 = []
diff_eff_1 = []
diff_eff_2 = []


for val in puntata_4 :
    if puntata_1+val <= portafoglio :
        diff_eff_1.append( quota_1*puntata_1-puntata_1-val )
        diff_eff_2.append( quota_4*val-puntata_1-val )
        v1.append( puntata_1 )
        v2.append( val )
        q1.append( quota_1 )
        q4.append( quota_4 )

In [42]:
RISULTATI_RICERCA = pd.DataFrame()

RISULTATI_RICERCA['quota_1'] = q1
RISULTATI_RICERCA['quota_4'] = q4
RISULTATI_RICERCA['puntata_1'] = v1
RISULTATI_RICERCA['puntata_4'] = v2
RISULTATI_RICERCA['diff_eff_1'] = diff_eff_1
RISULTATI_RICERCA['diff_eff_4'] = diff_eff_2
RISULTATI_RICERCA

    quota_1  quota_4  puntata_1  puntata_4  diff_eff_1  diff_eff_4
0       1.5      6.5         20          1         9.0       -14.5
1       1.5      6.5         20          2         8.0        -9.0
2       1.5      6.5         20          3         7.0        -3.5
3       1.5      6.5         20          4         6.0         2.0
4       1.5      6.5         20          5         5.0         7.5
..      ...      ...        ...        ...         ...         ...
75      1.5      6.5         20         76       -66.0       398.0
76      1.5      6.5         20         77       -67.0       403.5
77      1.5      6.5         20         78       -68.0       409.0
78      1.5      6.5         20         79       -69.0       414.5
79      1.5      6.5         20         80       -70.0       420.0

[80 rows x 6 columns]

In [43]:
over = 0.00

RISULTATI_POSITIVES_DIFFS_over = RISULTATI_RICERCA.loc[( RISULTATI_RICERCA.diff_eff_1>over ) &
                                                              ( RISULTATI_RICERCA.diff_eff_4 >over ) ]

RISULTATI_POSITIVES_DIFFS_over

   quota_1  quota_4  puntata_1  puntata_4  diff_eff_1  diff_eff_4
3      1.5      6.5         20          4         6.0         2.0
4      1.5      6.5         20          5         5.0         7.5
5      1.5      6.5         20          6         4.0        13.0
6      1.5      6.5         20          7         3.0        18.5
7      1.5      6.5         20          8         2.0        24.0
8      1.5      6.5         20          9         1.0        29.5

In [44]:
RISULTATI_POSITIVES_DIFFS_over_sorted_diff_1 = RISULTATI_POSITIVES_DIFFS_over.sort_values('diff_eff_1',ascending=False)
RISULTATI_POSITIVES_DIFFS_over_sorted_diff_1

   quota_1  quota_4  puntata_1  puntata_4  diff_eff_1  diff_eff_4
3      1.5      6.5         20          4         6.0         2.0
4      1.5      6.5         20          5         5.0         7.5
5      1.5      6.5         20          6         4.0        13.0
6      1.5      6.5         20          7         3.0        18.5
7      1.5      6.5         20          8         2.0        24.0
8      1.5      6.5         20          9         1.0        29.5

In [45]:
RISULTATI_POSITIVES_DIFFS_over_sorted_diff_2 = RISULTATI_POSITIVES_DIFFS_over.sort_values('diff_eff_4',ascending=False)
RISULTATI_POSITIVES_DIFFS_over_sorted_diff_2

   quota_1  quota_4  puntata_1  puntata_4  diff_eff_1  diff_eff_4
8      1.5      6.5         20          9         1.0        29.5
7      1.5      6.5         20          8         2.0        24.0
6      1.5      6.5         20          7         3.0        18.5
5      1.5      6.5         20          6         4.0        13.0
4      1.5      6.5         20          5         5.0         7.5
3      1.5      6.5         20          4         6.0         2.0